@font-face{
  font-family: "Alfa Slab One";
  src: url("./assets/fonts/AlfaSlabOne-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

#root{
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/bg.jpg");
  background-color: #222222;
  background-position: center;
  background-size: cover;
}

main{
  padding: 25px;
  color: #f1f1f1;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 8px 32px 0 rgba(30, 98, 161, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  aspect-ratio: 2/2;
  width: 60vmin;
  height: 80vmin;
}

main header h1{
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  text-shadow: 0 2px 4px rgb(20,20,20,.5);
  text-align: center;
}